@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

:root {
    --darker-color: rgb(2, 2, 22);
    --medium-color: rgb(32, 32, 61);
    --light-color : rgb(114, 169, 231);
  }  

* {
    box-sizing: border-box;
}

body {
    background-color: var(--darker-color);
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}


h1 {
    color: var(--light-color);
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

header {
    height: 80px;
    width: 100%;
    text-align: left;
    padding-left: 30px;
    background-color: var(--medium-color);
}

.search-bar {
    width: 300px;
    height: 50px;
    border: 1px solid grey;
    background-color: var(--darker-color);
    color: white;
    border-radius: 30px;
    font-size: 1.25rem;
    padding-left: 25px;
    margin-top: 50px;
}

.search-bar:focus {
    outline: 1px solid white;
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 100px auto;
    justify-content: space-around;
}

li {
    list-style: none;
    width: 250px;
    height: 200px;
    background-color: var(--medium-color);
    display: flex;
    flex-direction: column;
}

/* li:hover {
    width: 350px;
    height: 300px;
} */


li div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

li div h4 {
    text-align: left;
}

li div span {
    margin: auto 0;
}